@use '../../styles/mixins';

.sectionTitle {
    margin-bottom: 30px;

    @include mixins.mq(desktop) {
        margin-bottom: 90px;
    }
}

.container {
    margin-top: 40px;
    padding: 0px 20px;
}

.img {
    width: 100%;
}

.none {
    display: none;
}

.imgFounders {
    width: 100%;

    @include mixins.mq(desktop) {
        display: flex;
        height: 520px;
        width: auto;
        margin: 0 auto;
    }
}

.title {
    font-size: var(--text-title);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    text-align: center;
}

.text {
    margin-top: 25px;

    font-family: var(--font-family-light);
    font-size: var(--text-size);
    font-weight: 300;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    text-align: center;
}

.textFounders {
    margin-top: 25px;

    font-family: var(--font-family-light);
    font-size: 10px;
    font-weight: 300;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    text-align: center;

    @include mixins.mq(tablet) {
        font-size: var(--text-size);
    }

    @include mixins.mq(desktop) {
        max-width: 700px;
        margin: 0 auto;
        padding-top: 25px;
    }
}

.btnLink {
    margin-top: 25px;

    text-align: center;

    @include mixins.mq(desktop) {
        margin-top: 50px;
    }
}

.btnBook {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: currentColor;
        color: var(--text-color);
        height: 1px;
        bottom: -6px;
        transition: width 0.2s;
        pointer-events: none;
    }
}