@use '../../styles/mixins';

.footerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px 20px;

    height: 50px;

    background-color: var(--color-text);

    @include mixins.mq(tablet) {
        height: 70px;

        flex-direction: row;
        justify-content: space-between;
    }
}

.titleBottom {
    font-size: var(--text-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    color: var(--color-text-invert);
}

.title {
    margin-bottom: 20px;

    font-size: var(--text-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    @include mixins.mq(desktop) {
        margin-bottom: 0px;
    }
}

.text {
    font-family: var(--font-family-light);
    font-weight: 300;
    font-size: var(--text-size);
    line-height: var(--line-height);
    letter-spacing: 0.14em;
}

.social {
    display: flex;
    gap: 20px;
}

.logo {


    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--color-bg-line);

    @include mixins.mq(desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.schedule {
    @include mixins.mq(desktop) {
        text-align: right;
    }
}